<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="../styles/styles.css"
    />
    <title>404 Not Found</title>
  </head>
  <body>
    <header>
      <div>
        <a href="/"
          ><h1>The <span>Coded</span> Boss</h1></a
        >
        <nav>
          <a href="/">Home</a> <a href="/about-us">About Us</a>
          <a href="/contact-us">Contact Us</a>
        </nav>
      </div>
    </header>
    <main>
      <h2>Page Not Found</h2>
      <p>This page does not fucking exist</p>
      <a href="/"><button>Home</button></a>
    </main>
  </body>
</html>
